.about {
  background: #9cf6f6;
  padding-bottom: 20px;
}
.about .about-text {
  margin-left: 10px;
}
.viewBTN {
  background-color: #414a52 !important;
}
.viewBTN .Link {
  text-decoration: none;
  color: #9cf6f6;
}
.aboutMoreInfo {
  display: flex !important;
  justify-content: space-evenly !important;
}
.downloadResume {
  background-color: #414a52 !important;
  color: #9cf6f6 !important;
}

@media screen and (max-width: 900px) {
  .aboutMoreInfo {
    display: flex !important;
    flex-direction: column !important;
  }
  .downloadResume {
    background-color: #414a52 !important;
    color: #9cf6f6 !important;
    margin-top: 10px !important;
  }
}
